.cart__item-text {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  width: 284px;
}

@media screen and (max-width: 719px) {
  .cart__item-text {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 719px) {
  .cart__item-text {
    max-width: 107px;
  }
}
