.card__timer {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin: 0 0 24px 0;
}

.card__timer::before {
  content: url(../../../images/clock.png);
  position: relative;
  right: 10px;
  top: 4px;
}

@media screen and (max-width: 959px) {
  .card__timer {
    margin-left: 12px;
    text-align: left;
  }
}

@media screen and (max-width: 719px) {
  .card__timer {
    margin-left: 0;
    text-align: center;
  }
}
