@import url('./__back/cart__back.css');
@import url('./__header/cart__header.css');
@import url('./__item/cart__item.css');
@import url('./__image/cart__image.css');
@import url('./__item-text/cart__item-text.css');
@import url('./__item-price/cart__item-price.css');
@import url('./__delete-item/cart__delete-item.css');
@import url('./_state/cart_state_active.css');
@import url('./_state/cart_state_disabled.css');
@import url('./__separation-line/cart__separation-line.css');
@import url('./__total/cart__total.css');
@import url('./__total-text/cart__total-text.css');
@import url('./__total-price/cart__total-price.css');
@import url('./__submit-button/cart__submit-button.css');
@import url('./__delete-all/cart__delete-all.css');
@import url('./__block/cart__block.css');

.cart {
  position: absolute;
  top: 66px;
  right: 0;
  padding: 30px;
  z-index: 10;
  width: 532px;
  background-color: white;
}

@media screen and (max-width: 719px) {
  .cart {
    width: 304px;
  }
}
