.support__content {
  max-width: 1108px;
  margin: 0 auto;
}

@media screen and (max-width: 1139px) {
  .support__content {
    max-width: 928px;
  }
}

@media screen and (max-width: 959px) {
  .support__content {
    max-width: 688px;
  }
}

@media screen and (max-width: 719px) {
  .support__content {
    max-width: 288px;
  }
}
