@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.offers__payment-options {
  padding: 0;
  list-style-type: none;
  @include flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
